body {
    font-family: 'CMU Serif', serif;
    background-color: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;
}
nav a {
    color: #00ccff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}

#botonAsistente {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: background-color 0.3s;
  }
  
  #botonAsistente:hover {
    background-color: #005599;
  }
  